@()

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button class="btn btn-navbar" data-target=".nav-collapse"
				data-toggle="collapse" type="button">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="brand" href="@routes.Products.index()">Warehouse
				Application</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class="active"><a href="@routes.Products.index()">Home</a>
					</li>
					<li class="active"><a href="@routes.StockItems.index()">Stock
							Items</a></li>
					<li class="active"><a href="@routes.AsyncReport.index()">Reports</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>